<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.board">

	<delete id="delete">
		DELETE FROM tbl_board WHERE bno = #{bno}
	</delete>

	<update id="update">
		UPDATE tbl_board SET 
		title = #{title}, writer = #{writer}, content = #{content}, updatedate=SYSDATE 	
		WHERE bno = #{bno}
	
	</update>

	<select id="updateUI" resultType="kr.co.domain.BoardVO">
		SELECT * FROM tbl_board WHERE bno = #{bno}
	</select>

	<select id="getAmount" resultType="Integer">
		SELECT COUNT(bno) FROM tbl_board
	</select>

	<update id="increaseViewcnt">
		UPDATE tbl_board SET viewcnt = viewcnt+1 WHERE bno = #{bno}
	</update>


	<select id="read" resultType="kr.co.domain.BoardVO">
		SELECT * FROM tbl_board WHERE bno = #{bno}
	</select>

	<insert id="insert">
		INSERT INTO tbl_board 
		(bno, title, content, writer) 
		VALUES 
		((SELECT NVL2(MAX(bno), MAX(bno)+1, 1) FROM tbl_board), 
		#{title}, #{content}, #{writer})
		
		<selectKey order="AFTER" keyProperty="bno" resultType="Integer">
			SELECT MAX(bno) FROM tbl_board
		</selectKey>		
		
	</insert>


	<select id="list" resultType="kr.co.domain.BoardVO">
		SELECT * FROM tbl_board ORDER BY bno DESC
	</select>
	

</mapper>