<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.co.cart">
  
  	<!-- 장바구니 추가 -->
  	<insert id="insert">
  		INSERT INTO zava_cart (cid, mid, pid, pcnt, ocode) VALUES (seq_cart.NEXTVAL, #{mid}, #{pid}, #{pcnt}, #{ocode})
  	</insert>
  
  	<!-- 장바구니 목록 -->
  	<select id="list" resultType="kr.co.domain.CartVO">
	<!-- 	SELECT c.cid, c.pid, c.mid, p.pname, c.pcnt, p.price, (p.price*c.pcnt) tPrice, a.filename, o.ocode
		FROM zava_member m, zava_cart c, zava_product p, zava_p_attach a, zava_option o
		WHERE m.mid=c.mid AND c.mid=#{mid} AND a.pid=p.pid AND c.ocode=o.ocode ORDER BY c.cid -->
		SELECT * FROM zava_cart WHERE mid=#{mid}
	</select>
	
	<!-- 장바구니 상품 삭제 -->
	<delete id="delete">
		DELETE FROM zava_cart WHERE cid=#{cid} AND mid=#{mid}
	</delete>
	
	<!-- 총 금액 -->
	<select id="sumMoney" resultType="int">
		SELECT nvl(sum(p.price*c.pcnt), 0)
		FROM zava_cart c, zava_product p
		WHERE c.pid=p.pid AND mid=#{mid}
	</select>
	
	<!-- 장바구니에 기존상품이 있는지 -->
	<select id="countCart" resultType="int">
		SELECT COUNT(*) FROM zava_cart WHERE mid=#{mid} AND ocode=#{ocode}
	</select>
	
	<!-- 장바구니 상품 수량 변경 -->
	<update id="updateCart">
		UPDATE zava_cart SET pcnt=#{pcnt} WHERE mid=#{mid} AND ocode=#{ocode}
	</update>
	
	<!-- 장바구니 확인 -->
	<select id="checkCart" resultType="kr.co.domain.CartVO">
		SELECT * FROM zava_cart WHERE mid=#{mid} AND pid=#{pid}
	</select>
	
	<select id="cartOcode" resultType="kr.co.domain.OptionVO">
		SELECT * FROM zava_option WHERE ocode=#{ocode}
	</select>
	
	<select id="productCart" resultType="kr.co.domain.ProductVO">
		SELECT * FROM zava_product WHERE pid=#{pid}
	</select>
	
	<select id="getfile" resultType="string">
		SELECT filename FROM zava_p_attach WHERE pid=#{pid}
	</select>
  
  </mapper>