<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.co.order">
  	<insert id="order">
  		INSERT INTO zava_order (oid,pid,mid,odate,ostatus,payment,address,oname,ophone) 
  		VALUES(#{oid},#{pid},#{mid},#{odate},#{ostatus},#{payment},#{address},#{oname},#{ophone})
  	</insert>
  
  <!-- <insert id="orderDetail">
  	insert into zava_order_detail(oDid, oid, pid, pcnt)
     select zava_order_detail_seq.nextval, #{oid}, pid, pcnt
         from zava_cart
  </insert> -->
  
  </mapper>