@charset "UTF-8";

.uploadeditem img{
	display:flex;
	width:500px;
	height:700px;
	position:relative;	
}

.uploadedItemForRead2{
	width: 250px;
	height: 250px;
	position:relative;
	z-index: 1;	
}
.prdimg{
	width: 200px;
	height: 235px;
	position:relative;	
	margin: auto; 
}
